body {
    font-family: Arial;
    margin: 50px;
}

h1 {
    text-align: center;
}

.item {
    margin: 20px;
    padding: 30px;
    background-color: #111;
    border-radius: 4px;
}

h2 {
    color: white;
    margin: 0px;
}

p {
    color: #b2b2b2;
}

span {
    color: #febe01;
}

a {
    display: inline-block;
    background-color: #febe01;
    border-radius: 4px;
    padding: 10px;
    text-decoration: none;
    color: inherit;
}